.cabecalho_menu_hamburguer {
    width: 1.5em;
    height: 1.5em;
    background-image: url("../assets/icons/Menu.svg");
    display: inline-block;
}

.cabecalho {
    width: 100vw;
    background-color: var(--cor-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;

}

.container_imagem {
    padding: 1em;
}

.lista_menu {
    display: flex;
    justify-content: space-between;
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao {
    display: none;
}

.container_botao:checked ~ .lista_menu {
    display: block;
}

.lista_menu_titulo,
.lista_menu_itens {
    padding: 1em;
    background-color: var(--cor-header);
    border: 1px solid var(--cor-borda)
}

.lista_menu_titulo {
    color: var(--cor-lista-titulo);
    font-family: var(--font-primaria);
    font-weight: 700;
    font-size: 1rem;
}

.lista_menu_links {
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1rem;
}

.container_titulo {
    display: none;
}

.opcoes {
    display: none;
}



@media screen and (min-width: 1024px) {

    .imagem_transparente {
        display: none;
    }

    .cabecalho_menu_hamburguer {
        display: none;
    }

    .container_titulo, 
    .container_titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 2rem;
        color: var(--azul-degrade);
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .container_titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        list-style-type: none;
    }

    .opcoes_itens {
        padding: 0 1em;
        font-family: var(--font-secundaria);
        color: var(--azul-degrade);
        font-weight: 700;
        font-size: 1em;
        
    }

    .opcoes_links {
        text-decoration: none;
    }

    .opcoes_botao {
        display: none;
    }

    .opcoes_botao:checked ~ .lista_menu {
        display: block;
        width: 20%;
    }
}


@media screen and (min-width: 1728px) {
    .container_links {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-family: var(--font-secundaria);
        font-weight: 400;
        color: var(--azul-degrade);
    }

}